$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...

body {
    margin: 0px;
    padding: 0px;
}

textarea {
    resize: none;
}

.page-header {
    top: 0px;
    display: -webkit-flex;
    display: flex;
}

.page-logo {
    height: 64px;
    width: 64px;
    margin: 8px;
}

.hint {
    margin: 4px;
    padding: 8px;
    background: #ddd;
    display: inline-block;
    border-radius: 0.3em;
}

.color {
    padding-right: 8px;
    font-size: 20px;
}

@keyframes moveUp {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

.listen-button {
    background: #ffa500;
}

// main
.main-frame {
    margin: 8px;
}

button {
    outline: none;
    cursor: pointer;
}

.input-area {
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 8px;
    height: 200px;
    width: 80%;
}

#input {
    padding: 4px;
    height: 100%;
    width: 100%;
}

.result-area {
    font-size: 20px;
    padding: 4px;
    margin: 0 auto;
    height: 200px;
    width: 80%;
    overflow: scroll;
    border: solid 1px gray;
}

.annotation-hints {
    margin: 0 auto;
    width: 80%;
}

.annotator-buttons {
    padding: 16px;
}

.annotator-toggle {
  padding: 6px;
  margin: 2px;
  background-color: white;
}

.annotator-toggle:hover {
  background-color: whitesmoke;
}

.annotator-toggle-on {
  width: auto;
  color: #ffa500;
  border: solid 1px #ffa500;
  border-radius: 4px;
}

.annotator-toggle-off {
  color: gray;
  border: solid 1px gray;
  border-radius: 4px;
}

// group 8
.th1 {
  background-color: #ffbb88;
  font-style: italic;
}

.th2 {
  background-color: #ffbb88;
  font-style: italic;
}

.th3 {
  background-color: #aaccff;
  font-style: italic;
}

.ed1 {
  background-color: #aaccff;
  font-style: italic;
}

.ed2 {
  background-color: #ffbb88;
  font-style: italic;
}

.ed3 {
  background-color: #aaee88;
  font-style: italic;
}

.s1 {
  background-color: #aaccff;
  font-style: italic;
}

.s2 {
  background-color: #ffbb88;
  font-style: italic;
}

.s3 {
  background-color: #aaee88;
  font-style: italic;
}

// group 9
.content_word {
  font-weight: bold;
  font-size: 1.2em;
}

// group 10
#answer {
  border: red 2px solid;
}

#answer3 {
  border: blue 2px solid;
}

#answer4 {
  border: green 2px solid;
}

.Reg{
  background-color: #FFFACD;
  padding: 0.3em;
}

.button-primary1{
  width: 70px;
  margin-right:0.5em;
}

.button-primary2{
  width: 70px;
  margin-right:0.5em;
}

.slash3{
  color: #44F;
  font-weight: bold;
}

.slash2{
  color: #44F;
  font-weight: bold;
}

.slash1{
  color: #44F;
  font-weight: bold;
}
